header nav{height: 3cm;

}
.principal{
    
width: auto;
height: auto;
margin: 0.5cm;


}

section article div{
    max-width: 90%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
section article h2{
    text-align: center;
    margin: 1cm;
    background-color: rgb(255, 190, 162);
}
section ul div {
    background-color: rgb(249, 166, 103);
    margin: 1cm;

}
section h3{
   text-align   : center;
    margin: 1cm;
    background-color: rgb(255, 190, 162);
}
.carrito{display: flex;

}
#enviarTotal{
   align-items: end;
}


.img1{width: 4cm;
   margin: 1cm;
    
    
    border-radius: 1cm;
    
}
.img2{
    width: 6cm;;
}

.botonagregar{border-radius: 1cm;
    border-color: black;
    margin: 0.5cm;

}
.tipotext1{text-align:center;

}
.tipotext2{align-items: center;
    width: 5cm   ;
}

.text-muted{
    width: 15cm;
}

.btn{border: 0.5cm;
    border-color: black;
}